@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #212529;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, rgb(183, 0, 255), #0084ff);
  border-radius: 10px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

ul,
ol {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  color-scheme: dark;
}

body {
  background: #302c42;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  max-width: 1312px;
  margin-inline: auto;
  padding-inline: 20px;
}